/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright 2026 Epic Digital Interactive Media LLC */

@import 'tailwindcss';

@theme {
  --color-accent-400: #4dd8ff;
  --color-accent-500: #00c3ff;
  --color-accent-600: #0088cc;

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 2rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;

  --font-sans: var(--font-maven-pro);
  --font-display: var(--font-comfortaa);
}
